
<div class="container">

    <mat-card *ngFor="let category of categories">
        <mat-card-header>
            {{category.nev}}
        </mat-card-header>
        <mat-card-actions>
            <button mat-button [routerLink]="['../', category.felh_id, '/', category.nev]" routerLinkActive="router-link-active" >
                megtekintés
            </button>
        </mat-card-actions>
    </mat-card>

</div>

<button mat-button (click)="kategoriDialog()">
  <mat-icon>
    add
  </mat-icon>
</button>
