<mat-toolbar color="primary" id="menu">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/']">
      SocialDistancingTM
    </a>
    <a mat-button [routerLink]="['/display/users']">
      <mat-icon> person_pin</mat-icon>Felhasználók
    </a>
    <a mat-button [routerLink]="['/display/groups']">
      <mat-icon>group</mat-icon>Csoportok
    </a>
    <a mat-button [routerLink]="['chitChat']" *ngIf="!!user">
      <mat-icon>question_answer</mat-icon>Csevegés
    </a>
    <a mat-button [routerLink]="['album']" *ngIf="!!user">
      <mat-icon>perm_media</mat-icon>Fényképalbum
    </a>
    <!--<a mat-button [routerLink]="['/display/poszts']">
      Posztok
    </a>-->
    <span class="vspace"></span>
    <span class="vspace"></span>
    <button mat-button [matMenuTriggerFor]="menu" >
      <ng-container *ngIf="user; else anonym">{{user.knev + ' ' + user.vnev}}</ng-container>
      <ng-template #anonym>Vendég</ng-template>
      &nbsp;
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']" *ngIf="!!user">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item disabled [routerLink]="['/settings']" *ngIf="!!user">
        <mat-icon>settings</mat-icon>
        <span>Beállítások</span>
      </button>
      <button mat-menu-item (click)="logout()" *ngIf="!!user">
        <mat-icon>arrow_back</mat-icon>
        <span>Kijelentkezés</span>
      </button>
      <button mat-menu-item (click)="login()" *ngIf="!user">
        <mat-icon>login</mat-icon>
        <span>Bejelentkezés</span>
      </button>
      <button mat-menu-item (click)="register()" *ngIf="!user">
        <mat-icon>perm_identity</mat-icon>
        <span>Regisztráció</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
