<mat-toolbar id="user-sav">
  <mat-toolbar-row>
    <span>{{user?.knev + " " + user?.vnev}}</span>
    <span>|</span>
    <span>Email: {{user?.email}}</span>
    <span>|</span>
    <span>Csatlakozott: {{user?.csatl| date: 'medium'}}</span>
    <span>|</span>
    <span>Munka/Iskola: {{user?.munka_iskola}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card id="profilePicture" *ngIf="user?.picture">
  <img mat-card-avatar [src]="user.picture" id="pic"/>
</mat-card>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Add button" (click)="openPosztDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>


<div class="posztok">
  <div class="posztContainer" *ngFor="let poszt of poszts">
    <mat-card class="poszt">
      <mat-card-header class="header">
        <mat-card-title>{{poszt.szerzo_id}}</mat-card-title>
        <mat-card-subtitle>{{poszt.idopont | date:'MM/dd/yyyy-hh:mm:ss'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="content">
        {{poszt.szoveg}}
      </mat-card-content>
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Add button" (click)="openKommentDialog(poszt.id)">
                <mat-icon>comment</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
    </mat-card>
  </div>
</div>
