  <mat-toolbar id="user-sav">
    <mat-toolbar-row>
      <span>{{user.knev + " " + user.vnev}}</span>
      <span>|</span>
      <span>Email: {{user.email}}</span>
      <span>|</span>
      <span>Csatlakozott: {{user.csatl| date: 'medium'}}</span>
      <span>|</span>
      <span>Munka/Iskola: {{user.munka_iskola}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card id="profilePicture">

  </mat-card>

  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Add button" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>



  <div class="posztok">
    <h1>posztok listázásának helye</h1>
  </div>
