<div class="user-list">
  <h3>Ismerősök</h3>
  <hr>
  <div class="container" *ngFor="let friend of friends">
    <section >
      <button mat-button class="user" (click)="openChat(friend.id)">
        <img mat-card-avatar class="chat-head" [src]="friend!.picture" onerror="this.src='https://image.slidesharecdn.com/iamunhappybut-170217143318/95/i-am-unhappy-but-3-638.jpg?cb=1487342015'">
        {{friend.knev + " " + friend.vnev}}
      </button>
    </section>
  </div>
</div>

<div class="message-area">
  <div class="message-container" *ngIf="show">
    <img id="img" *ngIf="!messages" src="https://image.slidesharecdn.com/iamunhappybut-170217143318/95/i-am-unhappy-but-3-638.jpg?cb=1487342015" alt="WoW so empty!">
    <div *ngFor="let msg of messages">
      <div [ngClass]="{'mine': msg.kuldo_id == sender.id, 'not-mine': msg.kuldo_id != sender.id}">
        <img class="sender-pic" *ngIf="!!messages" [src]="msg!.fenykep" alt="WoW so empty!" onerror="this.src='https://image.slidesharecdn.com/iamunhappybut-170217143318/95/i-am-unhappy-but-3-638.jpg?cb=1487342015'">
        <p class="msg">{{msg.szoveg}}</p>
        <button mat-mini-fab *ngIf="mine(msg.kuldo_id)" class="delete-btn" (click)="deleteMessage(msg.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <br>
        <p class="date">{{msg.idopont | date: "medium"}}</p>
      </div>
    </div>
  </div>
  <div class="input-form" *ngIf="!!messages">
    <form [formGroup]="form" class="message-input" (ngSubmit)="sendMessage()">
      <input type="text" formControlName="szoveg" class="textarea" name="" id="" cols="30" rows="10" placeholder="Üzenet . . ." required/>
      <button type="submit" class="send" mat-mini-fab color="primary" [disabled]="form.invalid">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
