<div class="user-list">
  <h3>Ismerősök</h3>
  <hr>
  <div class="container" *ngFor="let friend of friends">
    <section >
      <button mat-button class="user">
        <img class="chat-head" mat-card-avatar *ngIf="friend.picture" [src]="friend!.picture"/>
        {{friend.knev + " " + friend.vnev}}
      </button>
    </section>
  </div>
</div>

<div class="message-area">
  <div class="message-container">
    some wierd ass text
  </div>
  <div class="input-form">
    <form [formGroup]="form" class="message-input" (ngSubmit)="sendMessage()">
      <input type="text" formControlName="szoveg" class="textarea" name="" id="" cols="30" rows="10" placeholder="Üzenet . . ." required/>
      <button type="submit" class="send" mat-mini-fab color="primary" [disabled]="form.invalid">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
