<div class="centering">
  <div *ngFor="let komment of komments">
    <mat-card class="komment">
      <label class="kommenter">
        <mat-card-actions>
          <a class="kommenter_lookup" mat-button [routerLink]="['../user/',komment.komment_iro_id]">
            {{komment.szerzo_knev + " " + komment.szerzo_vnev}}
          </a>
        </mat-card-actions>
      </label>
      <hr>
      {{komment.szoveg}}
    </mat-card>
  </div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="posztKomment()">
      <h3>Új Komment</h3>
      <textarea name="szoveg" id="1" cols="30" rows="10" formControlName="szoveg" class="max-width" required></textarea>
      <br>
      <mat-checkbox formControlName="isPublic">Publikus</mat-checkbox>
    <br>
      <button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">Közzététel</button>
    </form>
    <button type="submit" mat-raised-button color="secondary" (click)="onNoClick()" class="max-width">Mégse</button>
  </mat-card>
</div>
