.max-width {
  width: 100%;
}

.komment {
  border: 3px solid lightcoral;
  height: 10%;
  font-size: x-small;
}

.kommenter_lookup {
  margin-bottom: 0;
}

hr {
  margin-top: 0;
}

.centering {
  max-height: 40em;
}

.komment-section {
  max-height: 15em;
  overflow: auto;
}

.nk {
  position: sticky;
  bottom: 0;
  max-height: 25em;
}
