<h1>Users' information</h1>
<hr>
<ul class="users">
  <div class="user-container">
    <div *ngFor="let user of users">

      <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar *ngIf="user.picture" [src]="user!.picture"/>
          <mat-card-title>{{user.vnev + " " + user.knev}}</mat-card-title>
          <mat-card-subtitle>#{{user.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span>email: {{user.email}}</span>
          <span>csatlakozás: {{user.csatl | date: 'medium'}}</span>
        </mat-card-content>
        <mat-card-actions>
          <a class="lookup-btn" mat-button [routerLink]="['../user/',user.id]">
            Megtekintés
          </a>
        </mat-card-actions>
      </mat-card>

    </div>


  </div>
</ul>
