<h1>Users' information</h1>
<hr>
<ul class="users">
  <div class="user-container">
    <div *ngFor="let user of users">
      <mat-card class="card">
        <mat-card-header>
          <!--- *ngIf="user.picture" [src]="user!.picture"-->
          <img mat-card-avatar [src]="user!.picture" onerror="this.src='https://image.slidesharecdn.com/iamunhappybut-170217143318/95/i-am-unhappy-but-3-638.jpg?cb=1487342015'">
          <mat-card-title>{{user.vnev + " " + user.knev}}</mat-card-title>
          <mat-card-subtitle>#{{user.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span>email: {{user.email}}</span>
          <span>csatlakozás: {{user.csatl | date: 'medium'}}</span>
          <span>születés: {{user.szul_dat | date: 'medium'}}</span>
        </mat-card-content>
        <mat-card-actions>
          <a class="lookup-btn" mat-button [routerLink]="['../user/',user.id]">
            Megtekintés
          </a>
          <button class="add-friend" mat-mini-fab *ngIf="!isLoggedIn()" (click)="flag(user.id)">
            <mat-icon class="mat-18">add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ul>
