.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    div {
        margin: 1em;
        span {
            display: block;
        }
    }
}

.card:hover{
  box-shadow: 2px 2px 5px #C1EEFF;
}

.lookup-btn {
  display: inline-block;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.lookup-btn:hover {
  color: #ff9f35;
  text-decoration: underline;
  transition: 1s;
}

.add-friend {
  display: inline-block;
  right: 0;
}
