<h1>Csoportok</h1>
<hr>
<ul class="groups">
  <div class="group-container">
    <div *ngFor="let group of groups">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{group.nev}}</mat-card-title>
          <mat-card-subtitle>#{{group.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span>Leírás: {{group.leiras}}</span>
          <span>Tulajdonos: {{group.tulaj_vnev + " " + group.tulaj_knev}}</span>
        </mat-card-content>
        <mat-card-actions>
          <a class="lookup-btn" mat-button [routerLink]="['../group/',group.id]" routerLinkActive="router-link-active" >Megtekintes</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ul>
