<div class="container">
    <div>
      <input type="text" name="email" [(ngModel)]="email" placeholder="   Email cím">
      <br>
      <input type="password" name="password" [(ngModel)]="password" placeholder="   Jelszó">
    </div>
    <button (click)=checkLogin() id="login-btn" class="btn btn-success">
      Login
    </button>
  </div>

  <tr *ngFor="let user of users">
    <td>{{user.knev}}</td>
    <td>{{user.email}}</td>
    <td>
      <button class="btn btn-danger" >Delete</button>
    </td>
  </tr>
