.container {
  width: 25%;
  margin: 0 auto;
  align-content: center;
  border: 3px solid lightblue;
  border-radius: 20%;
  margin-top: 5%;
}

input {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  width: 50%;
  border-radius: 6.25em;
}

#login-btn {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  width: 60%;
  background-color: blueviolet;
  border-radius: 6.25em;
}
