<div *ngFor="let group of group">
  <mat-toolbar>
    <mat-toolbar-row>
      <span><h1>{{group.nev}}</h1></span>
      <span>|</span>
      <span>Tagok: {{group.tagok}}</span>
      <span>|</span>
      <span>Tulaj: {{group.tulaj_knev + " " + group.tulaj_vnev}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Leírás</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{group.leiras}}
    </mat-card-content>
  </mat-card>
</div>
